@use "../../utils/value.scss" as *;

.wrapper__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.color__text {
  color: #b982ff;
  margin-bottom: -20px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin-top: -20px;
}

.cart {
  width: 380px;
  height: 330px;
  border-radius: 25px;
  backdrop-filter: blur(100px);
  background: linear-gradient(
      98deg,
      rgba(41, 46, 75, 0.225) 0%,
      rgba(37, 40, 58, 0.105) 100%,
      rgba(41, 46, 75, 0.105) 100%
    ),
    radial-gradient(
      65.97% 92.77% at 113.3% 120.61%,
      rgba(62, 238, 227, 0.5) 0%,
      rgba(62, 69, 238, 0) 100%
    ),
    radial-gradient(
      60.52% 85.11% at 9.86% -26.12%,
      rgba(223, 29, 255, 0.35) 0%,
      rgba(72, 205, 255, 0) 100%
    );

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 20px;

  @include screen-width(phone){
    width: 300px;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;

  @include screen-width(tablet) {
    flex-direction: column;
  }

  @include screen-width(phone) {
    flex-direction: column;
  }
}

.paddings {
  padding: 40px 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon {
  margin-top: 20px;
  background-color: grey;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
