.button {
  font-family: inherit;
  width: 162px;
  height: 48px;
  margin-top: 26px;
  border-radius: 10px;
  color: #fff;
  border: none;
  cursor: pointer;

  background: linear-gradient(225deg, #18c8ff 14.89%, #933ffe 85.85%);
  border-image-source: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.47) 12.55%,
    rgba(255, 255, 255, 0.546875) 42.51%,
    rgba(255, 255, 255, 0.39) 78.66%
  );

  background-size: 120% 110%;
  transition: 0.3s;
  transform: scale(1);
}

.hover {
  &:hover {
    transition: 0.3s;
    transform: scale(0.95);
    background: linear-gradient(226.55deg, #18c8ff 7%, #933ffe 29.53%);
  }
}

.dissabled {
  background: rgba(110, 117, 132, 1);
}

.button__width {
  width: 290px;
  height: 62px;
  border-radius: 10px;
  color: #fff;
  border: none;

  background-size: 120% 110%;
  cursor: pointer;
}

.button__select {
  width: 308px;
  height: 48px;
  border-radius: 10px;
  color: #fff;
  border: none;

  background-size: 120% 110%;
  cursor: pointer;
}
