@use "../../utils/value.scss" as *;

.window {
  backdrop-filter: blur(100px);
  box-shadow: 0px 4px 70.5px 0px rgba(180, 180, 180, 0.3);
  border: 1px solid;
  border-image-source: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );

  background: linear-gradient(
      97.94deg,
      rgba(41, 46, 75, 0.5) 0%,
      rgba(41, 46, 75, 0.25) 100%,
      rgba(48, 58, 120, 0.5) 100%
    ),
    radial-gradient(
      62.64% 89.41% at -5.37% -16.9%,
      rgba(61, 165, 245, 0.8) 0%,
      rgba(62, 69, 238, 0) 100%
    ),
    radial-gradient(
      56.01% 71.16% at 102.6% 109.78%,
      rgba(223, 29, 255, 0.7) 0%,
      rgba(72, 205, 255, 0) 100%
    );

  position: absolute;
  bottom: 40px;
  left: 380px;
  width: 269px;
  height: 179px;
  padding: 20px;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.2);

  @include screen-width(tablet) {
    left: 200px;
  }

  @include screen-width(phone) {
    width: 100px;
    height: 100px;
    top: 50px;
    bottom: 100px;
  }
}

.text__h5 {
  @include screen-width(phone) {
    font-size: 14px;
    margin: 0;
  }
}

.text__p {
  @include screen-width(phone) {
    font-size: 10px;
    margin: 0;
    margin-bottom: 10px;
  }
}
