@use "../../utils/value.scss" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.wrapper__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 80px;

  @include screen-width(tablet) {
    align-items: center;
  }

  @include screen-width(desktop) {
    align-items: center;
  }
}

.text__h5 {
  color: #b982ff;
  margin: 0;
}

.text__h2 {
  margin: 4px 0 24px;
}

.container {
  max-width: 1180px;
  height: 224px;
  border-radius: 16px;
  border: 1px;
  background: linear-gradient(
      180deg,
      rgba(41, 46, 75, 0.375) 0%,
      rgba(48, 58, 120, 0.5) 100%
    ),
    linear-gradient(
      93.45deg,
      rgba(223, 29, 255, 0.2) 17.59%,
      rgba(155, 20, 177, 0.170746) 27.35%,
      rgba(124, 16, 141, 0.157118) 31.9%,
      rgba(69, 9, 79, 0.13368) 39.72%,
      rgba(0, 0, 0, 0.1038) 49.69%,
      rgba(9, 24, 30, 0.0914059) 56.77%,
      rgba(21, 60, 74, 0.0734936) 67.02%,
      rgba(72, 205, 255, 0) 92.93%
    );

  @include screen-width(tablet) {
    width: 100%;
    height: 100%;
  }

  @include screen-width(phone) {
    width: 100%;
    height: 100%;
  }
}

.container__wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  background: linear-gradient(
      180deg,
      rgba(41, 46, 75, 0.375) 0%,
      rgba(48, 58, 120, 0.5) 100%
    ),
    linear-gradient(
      93.45deg,
      rgba(223, 29, 255, 0.2) 17.59%,
      rgba(155, 20, 177, 0.170746) 27.35%,
      rgba(124, 16, 141, 0.157118) 31.9%,
      rgba(69, 9, 79, 0.13368) 39.72%,
      rgba(0, 0, 0, 0.1038) 49.69%,
      rgba(9, 24, 30, 0.0914059) 56.77%,
      rgba(21, 60, 74, 0.0734936) 67.02%,
      rgba(72, 205, 255, 0) 92.93%
    );

  @include screen-width(phone) {
    align-items: left;
    justify-content: left;
    flex-direction: column;
    width: 375px;
    height: 630px;
    top: 478px;
    left: 396px;
    border-radius: 16px;
    border-width: 1px;
  }

  @include screen-width(tablet) {
    justify-content: space-between;
    width: 100%;
    height: 100%;
    top: 247px;
    left: 8px;
    border-radius: 16px;
    border-width: 1px;
  }

  @include screen-width(desktop) {
    width: 1180px;
    height: 223px;
    top: 8px;
    left: 8px;
    border-radius: 16px;
    border-width: 1px;
  }
}

.text__h3 {
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0%;
  margin: 0;

  @include screen-width(tablet) {
    margin: 0;
  }
}

.text__p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;

  @include screen-width(tablet) {
    max-width: 500px;
  }
}

.text__p2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;

  @include screen-width(tablet) {
    margin-top: 3px;
  }
}

.img__tablet__phone {
  @include screen-width(desktop) {
    width: 205px;
    height: 205px;
    margin-left: 24px;
  }

  @include screen-width(tablet) {
    width: 95px;
    height: 105px;
    margin-left: 40px;
    margin-top: 50px;
  }

  @include screen-width(phone) {
    width: 100px;
    height: 116px;
    transform: rotate(270deg);
    margin: 20px;
  }
}

.wrapper__text__image {
  display: flex;

  @include screen-width(desktop) {
    justify-content: right;
  }

  @include screen-width(phone) {
    flex-direction: row;
  }
}

.info__container {
  display: flex;
  flex-direction: column;

  @include screen-width(tablet) {
    margin: 20px;
  }

  @include screen-width(phone) {
    margin: 20px;
  }

  @include screen-width(desktop) {
    margin: 100px 28px;
  }
}

.technologies__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
}

.technologies__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;

  @include screen-width(phone) {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
  }

  @include screen-width(desktop) {
    margin-bottom: 5px;
    justify-content: left;
  }

  @include screen-width(tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.first__technologies {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  border: 1px solid grey;
  background: linear-gradient(
      97.94deg,
      rgba(41, 46, 75, 0.375) 0%,
      rgba(41, 46, 75, 0.175) 100%,
      rgba(48, 58, 120, 0.5) 100%
    ),
    radial-gradient(
      115.05% 144.85% at -5.37% -16.9%,
      rgba(61, 165, 245, 0.5) 0%,
      rgba(62, 69, 238, 0) 100%
    ),
    radial-gradient(
      50.94% 62.92% at 102.22% 50%,
      rgba(223, 29, 255, 0.5) 0%,
      rgba(72, 205, 255, 0) 100%
    );

  @include screen-width(phone) {
    width: 143px;
    height: 29px;
    border-radius: 28px;
    border-width: 1px;
    padding-top: 6px;
    padding-right: 16px;
    padding-bottom: 6px;
    padding-left: 16px;
    gap: 10px;
  }

  @include screen-width(tablet) {
    width: 161px;
    height: 32px;
    border-radius: 28px;
    border-width: 1px;
    padding-top: 6px;
    padding-right: 16px;
    padding-bottom: 6px;
    padding-left: 16px;
    gap: 10px;
  }

  @include screen-width(desktop) {
    width: 161px;
    height: 32px;
    border-radius: 28px;
    border-width: 1px;
    padding-top: 6px;
    padding-right: 16px;
    padding-bottom: 6px;
    padding-left: 16px;
    gap: 10px;
  }
}

.second__technologies {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  border: 1px solid grey;
  background: linear-gradient(
      97.94deg,
      rgba(41, 46, 75, 0.375) 0%,
      rgba(41, 46, 75, 0.175) 100%,
      rgba(48, 58, 120, 0.5) 100%
    ),
    radial-gradient(
      92.28% 334.94% at 111.03% 0%,
      rgba(61, 165, 245, 0.5) 0%,
      rgba(62, 69, 238, 0) 100%
    ),
    radial-gradient(
      52.94% 407.78% at -6.99% 180.88%,
      rgba(223, 29, 255, 0.5) 0%,
      rgba(72, 205, 255, 0) 100%
    );

  @include screen-width(phone) {
    width: 110px;
    height: 29px;
    border-radius: 28px;
    border-width: 1px;
    padding-top: 6px;
    padding-right: 16px;
    padding-bottom: 6px;
    padding-left: 16px;
    gap: 10px;
  }

  @include screen-width(tablet) {
    width: 123px;
    height: 32px;
    border-radius: 28px;
    border-width: 1px;
    padding-top: 6px;
    padding-right: 16px;
    padding-bottom: 6px;
    padding-left: 16px;
    gap: 10px;
  }

  @include screen-width(desktop) {
    width: 123px;
    height: 32px;
    border-radius: 28px;
    border-width: 1px;
    padding-top: 6px;
    padding-right: 16px;
    padding-bottom: 6px;
    padding-left: 16px;
    gap: 10px;
  }
}

.third__technologies {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 32px;
  border-radius: 28px;
  border: 1px solid grey;
  background: linear-gradient(
      97.94deg,
      rgba(41, 46, 75, 0.375) 0%,
      rgba(41, 46, 75, 0.175) 100%,
      rgba(48, 58, 120, 0.5) 100%
    ),
    radial-gradient(
      95.58% 184.55% at -5.37% -16.9%,
      rgba(61, 165, 245, 0.5) 0%,
      rgba(62, 69, 238, 0) 100%
    ),
    radial-gradient(
      24.96% 232.76% at 95.29% -63.24%,
      rgba(223, 29, 255, 0.5) 0%,
      rgba(72, 205, 255, 0) 100%
    );

  @include screen-width(phone) {
    width: 112px;
    height: 29px;
    border-radius: 28px;
    border-width: 1px;
    padding-top: 6px;
    padding-right: 16px;
    padding-bottom: 6px;
    padding-left: 16px;
    gap: 10px;
  }

  @include screen-width(tablet) {
    width: 125px;
    height: 32px;
    border-radius: 28px;
    border-width: 1px;
    padding-top: 6px;
    padding-right: 16px;
    padding-bottom: 6px;
    padding-left: 16px;
    gap: 10px;
  }

  @include screen-width(desktop) {
    width: 125px;
    height: 32px;
    border-radius: 28px;
    border-width: 1px;
    padding-top: 6px;
    padding-right: 16px;
    padding-bottom: 6px;
    padding-left: 16px;
    gap: 10px;
  }
}

.image__box {
  @include screen-width(tablet) {
    width: 159px;
    height: 223px;
    left: 489px;
    border-width: 1px;
    border-top-left-radius: 111.5px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 111.5px;
  }

  @include screen-width(desktop) {
    width: 228px;
    height: 223px;
    left: 952px;
    border-width: 1px;
    border-top-left-radius: 111.5px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 111.5px;
  }

  @include screen-width(phone) {
    width: 141px;
    height: 100%;
    transform: rotate(90deg);
    border-width: 1px;
    border-top-left-radius: 200px;
    border-top-right-radius: 26px;
    border-bottom-right-radius: 28px;
    border-bottom-left-radius: 200px;
    margin: 100px;
  }

  width: 100px;
  height: 100px;
  background: radial-gradient(
    53.14% 95.74% at 50% -16.14%,
    rgba(255, 255, 255, 0.36) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 1px solid;

  border-image-source: radial-gradient(
      94.31% 66.31% at -53.25% 10.23%,
      #ffffff 0%,
      rgba(255, 255, 255, 0.06) 100%
    ),
    radial-gradient(
      86.84% 30.42% at 129.28% 66.93%,
      #8470ff 0%,
      rgba(134, 92, 255, 0) 100%
    ),
    radial-gradient(
      41.06% 41.06% at 51.09% -22.85%,
      #000000 0%,
      rgba(255, 255, 255, 0) 100%
    );
  backdrop-filter: blur(5px);
}

