h1 {
    font-size: 85px;
    line-height: 130%;
    letter-spacing: 0;
    color: white;
    font-weight: 600;
}

h2 {
    font-size: 50px;
    line-height: 130%;
    letter-spacing: 0;
    color: white;
    font-weight: 900;
}

h3 {
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0;
    font-weight: 600;
}

h4 {
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0;
    color: white;
    font-weight: 600;
}

h5 {
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0;
    font-weight: 600;
}

.body__text1 {
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    font-weight: 400;
    color: #ADB5BD;
}

.body__text2 {
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0;
    font-weight: 600;
}

.button__text {
    font-size: 16px;
    line-height: 0%;
    letter-spacing: 0;
    color: white;
}

.small__text {
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0;
    opacity: 30%;
}
