@use "./utils/value.scss" as *;

@include screen-width(desktop) {
  .wrapper {
    padding-inline: 130px;
  }
}

@include screen-width(tablet) {
  .wrapper {
    padding-inline: 64px;
  }
}

@include screen-width(phone) {
  .wrapper {
    padding-inline: 32px;
  }
}

.section {
  margin-bottom: 200px;
}

.footer__wrapper {
  @include screen-width(phone) {
    padding-inline: 32px;
  }
}

.section__wrapper__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;

  @include screen-width(tablet) {
    max-width: 1200px;
  }

  @include screen-width(phone) {
    max-width: 648px;
  }
}

.background__image {
  background-image: url(./assets/gradientBackground/bg-gradient-img.png);
  background-repeat: no-repeat;
  background-position: top right;

  height: 1100px;
}

.wrapper__backg__image {
  background: url(./assets/backgroundIcon/Bitcoin-1.png);
  background-repeat: no-repeat;

  background-position: left bottom;
  top: 50px;

  @include screen-width(tablet) {
    background: url('');
  }

  @include screen-width(phone) {
    background: url('');
  }
}
