@use "./utils/value.scss" as *;

.backg__images {
  position: relative;
  overflow: hidden;
}

.backgrPurple {
  position: absolute;
  width: 800px;
  height: 1000px;
  top: 0;
  z-index: 0;
  right: 700px;
}

.backgrPink {
  width: 40%;
  position: absolute;
  height: 1000px;
  top: 0;
  left: 700px;
  z-index: 0;
  overflow: hidden;

  @include screen-width(tablet) {
    width: 500px;
    left: 100px;
  }

  @include screen-width(phone) {
    width: 250px;
    left: 50px;
  }
}

.backgrGreen {
  position: absolute;
  width: 700px;
  height: 700px;
  left: 10px;
  top: 50px;
  z-index: 0;

  @include screen-width(phone) {
    width: 300px;
  }

  @include screen-width(tablet) {
    width: 400px;
  }
}

.backgrLogo {
  position: absolute;
  left: 0;
  width: 1000px;
  z-index: 0;
  top: 0;
  height: 300px;

  @include screen-width(phone) {
    width: 300px;
  }

  @include screen-width(tablet) {
    width: 400px;
  }
}

.star {
  position: absolute;
  width: 61.000000575628746px;
  height: 60.00000056619221px;
  top: 186.7px;
  left: 70px;
}

.monero {
  position: absolute;
  width: 143.60870190628904;
  height: 144.55015392146575;
  top: 55px;
  left: 345.71px;

  @include screen-width(phone) {
    width: 100px;
    left: 50px;
  }

  @include screen-width(tablet) {
    width: 200px;
    left: 500px;
  }
}

@include screen-width(desktop) {
  .wrapper {
    padding-inline: 130px;
  }
}

@include screen-width(tablet) {
  .wrapper {
    padding-inline: 64px;
  }
}

@include screen-width(phone) {
  .wrapper {
    padding-inline: 32px;
  }
}

.section {
  margin-bottom: 200px;
}

.footer__wrapper {
  @include screen-width(phone) {
    padding-inline: 32px;
  }
}

.section__wrapper__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;

  @include screen-width(tablet) {
    max-width: 1200px;
  }

  @include screen-width(phone) {
    max-width: 648px;
  }
}

.background__image {
  background-image: url(./assets/gradientBackground/bg-gradient-img.png);
  background-repeat: no-repeat;
  background-position: top right;

  height: 1100px;
  z-index: 0;
}

.backgr__bitcoinsPair {
  background-image: url(./assets/BitcoinsPair.png);
  background-repeat: no-repeat;
  background-position: top right;
}

.section__background {
  z-index: 0;
}

.wrapper__backg__image {
  background: url(./assets/backgroundIcon/Bitcoin-1.png);
  background-repeat: no-repeat;

  background-position: left bottom;
  top: 50px;

  @include screen-width(tablet) {
    background: url("");
  }

  @include screen-width(phone) {
    background: url("");
  }
}
